
.contact-outer
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 90vh;
}


.header {
    position: relative;
    display: flex;
    top: 2vh;
}

.header-logo {
    position: relative;
    width: 1.5vw;
    height: 1.4vw;
}

.header-title {
    font-family: Nunito !important;
    color: var(--black-color);
    font-weight: bolder;
    position: relative;
    font-size: 1vw;
}


.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #ffffff; 
}

#image-container {
    position: relative;
    width: 50vw;
    height: 50vh;
}

/* Form container styling */
.contact-form-container {
    position: relative;
    width: 65%;
    height: 90%;
    box-shadow: 0px 1.3vh 4.1vh rgba(0, 0, 0, 0.1);
    border: 0.1vw solid var(--main-color);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form heading styling */
.tagLabel {
    position: relative;
    margin-top: 13vh;
    font-size: 2vw;
    font-weight: bolder;
    color: var(--black-color);
    margin-bottom: 4vh;
}

/* Form label and input styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 1.2vh;
    font-weight: bold;
    color: #333;
}

/* Input fields */
input[type="email"],
textarea {
    position: relative;
    margin-left: 1.3vw;
    width: 24vw;
    padding: 1.6vh;
    margin-bottom: 2.5vh;
    border: 0.1vw solid #BFBDC2;
    border-radius: 1vw;
}



/* Textarea specific styling */
.textarea {
    height: 20vh;
    resize: none; /* Disable resize */
    margin-bottom: 2.5vh;
    margin-left: 1.3vw;
}

.input-box::placeholder {
    font-size: 1vw;
    color: #97959A;
    font-family: Raleway;
}

input[type="email"]:focus,
textarea:focus {
    outline: none;
    border: 0.1vw solid #7F4BC1;
}


/* Submit button styling */
.submitbtn {
    position: relative;
    margin-left: 1vw;
    width: 24vw;
    padding: 1.6vh;
    border-radius: 1vw;
    background-color: #7F4BC1;
    border: none;
    color: var(--main-color);
}

/* Cancel button styling: absolute top-right */
.cancel-btn {
    position: absolute;
    top: 1vh;
    right: 1.5vw;
    background: transparent;
    border: none;
    font-size: 2vw;
    color: #7F4BC1;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}