body
{
    background-color: #eeeef6;
}

.header
{
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 100%;
    height: 14%;
    gap: 2%;
    top: 1%;
}

.collapseIcon
{
    position: absolute;
    display: flex;
    z-index: 100;
    top: 8%;
    left: 19.5%;
    height: auto;

}

.header-logo
{
    position: relative;
    width: 25px;
    margin-left: 25%;
}

.header-title
{
    position: relative;
    font-size: 1rem;
    font-family: Raleway;
    font-weight: bold;
}

.dashboardImg
{
    position: relative;
    width: 60%;
    height: 65%;
}

#username {
    margin-right: 15px;
    font-size: 18px;
}

#logout {
    display: block;
}

/* Dashboard container with gap */
.dashboard-container {
    display: flex;
    height: calc(100vh); 
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    gap: 20px;
    background-color: #eeeef6;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Left: Tabs Section */
.tabs {
    width: 20%; 
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #7F4BC1;
}

/* Button animations */
.tab-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    border: 1px solid #7F4BC1;
    border-radius: 15px;
    text-align: left;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    background-color: #7F4BC1;
    font-family: Raleway;
    font-weight: 500;
}

.isTextVisible
{
    font-size: 0;
}

.tab-btn:hover {
    background-color: #ece2fa;
    transform: scale(1.01);
    color: #7F4BC1;
    border-radius: 15px;
}


.content 
{
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.spacer {
    flex-grow: 20;
    border-bottom: 1px solid white;
    margin-bottom: 2%;
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
    .dashboard-container {
        flex-direction: column; 
    }

    .tabs, .content {
        width: 100%;
        height: auto; 
    }
}

.tab-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
 
}


  .searchDiv
  {
     position: relative;
     width: 100%;
     display: flex;
     justify-content: flex-end;
  }

#table_div
{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    gap: 0;
    overflow: hidden;
    border-radius: 20px;
    padding: 3% 1%;
    background-color: #FFF;
    
}

.google-visualization-table .gradient 
{
    background-image: none !important;
}

  #table_div th
  { 
    position: relative;
    font-size: small;
    text-align: center;
    font-family: Raleway;
    color: #7F4BC1;
    line-height:2.5 !important; 
    overflow: hidden; 
    background-color: #7F4BC1;
    color: #fff;
    font-family: 'Nunito';
  } 

  #table_div tr
  {
    text-align: center;
  }
  
  #table_div td
  {
    text-align: center;
    font-family: 'Nunito';
    font-weight: 450;
  }
  


.table-row 
{
    height: 20px !important;
    min-height: 20px !important;
    max-height: 20px !important;
    padding:  0px !important;
}


  .google-visualization-table-div-page 
  {
        position: fixed;
        bottom:4%;
        right: 4% !important;
        background-image: none !important;
        background-color: #fff !important;
        display: flex !important;
        justify-content: flex-end;
        align-items: flex-end;
        border: none;
        width: fit-content;
  }

  .google-visualization-table-div-page span {
    position: relative;
    padding: 8px 18px; 
    bottom: 0;
    right: 4%;
    background-color: #7F4BC1; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    display: none !important;
    
   
}

.google-visualization-table-div-page span:hover {
    background-color: #5e3d9d; /* Darker shade on hover */
    display: none !important;
}

.google-visualization-table-page-numbers a
{
    position: relative;
    bottom: 0 !important;
    padding: 5px 15px; 
    color: #7F4BC1 ;
    background-color: #fff ;  
    border: none !important;
    border: 1px solid #7F4BC1 !important;
    margin-top: 30%;
   
}

.current
{
    color: #fff !important;
    background-color: #7F4BC1 !important; 
}

.searchText
{
    outline: none;
    border: 0.1vw solid #7F4BC1;
    padding: 2px;
    border-radius: 10px;
}

.searchText::placeholder 
{
    position: relative;
    font-size: 1vw;
    color: #97959A;
    font-family: Raleway;
    padding-left: 5%;
}

.addBtn
{
    position: relative;
    margin-right: 1vw;
    margin-left: 1vw;
    width: 5vw;
    height: 5vh;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #7F4BC1;
    border: none;
    color: var(--main-color);
    font-size: small;
    display: flex;
    align-items: center;
    gap: 4px;
}


.clientHeader
{
    position: relative;
    display: flex;
    margin-left: 40%;
    margin-top: 3%;
    width: 100%;
    height: 4%;
}

  .addclientLogo
  {
        position: relative;
        width: 4%;
        display: flex;
  }
    .addClienttitlemsg
    {
       position: relative;
       display: inline;
       font-size: 12px;
       font-weight: 600;
       font-family: Raleway;
    }

    .cancel-btn 
    {
        position: relative;
        background: transparent;
        border: none;
        font-size: 26px;
        color: #7F4BC1;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
        justify-content: unset;
        right: -35%;
        top: -15%;
        animation: none !important;
    }

  .addClient
  {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    width: 28vw;
    height: 90vh;
    top: 5%;
    left: 35%;
    border: 1px solid #7F4BC1;
    border-radius: 25px;
  }

  

  .tab-btn1
  {
    position: relative;
    width: 20%;
    text-align: center;
    margin-right: 2%;
    background-color: #c3a9f5;
  }


  .title-add
  {
    color: var(--black-color);
    font-weight: bolder;
    position: relative;
    top: 8%;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 20%;
  }

#manual {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 300px;
    justify-content: center;;
    margin-left: 10%;
    
}

#manual label 
{
    font-size: 16px;
    margin-bottom: 51px;
    font-weight: bold;
    font-family: Raleway;
    
}

#manual input[type="text"],
#manual input[type="email"] {
    position: relative;
    width: 21vw;
    padding: 1.6vh;
    margin-bottom: 2.5vh;
    border: 0.1vw solid #BFBDC2;
    border-radius: 1vw;
}

#manual input[type="radio"] {
    margin-right: 10px;
    margin-left: 2vw;
    
}

#manual input[type="radio"]:checked 
{
    accent-color:#7F4BC1;
    border-color: #7F4BC1; 
}

#manual label[for="bot"],
#manual label[for="real"] {
    font-weight: normal;
    margin-right: 20px;
}

#manual .radio-group {
    margin-bottom: 15px;
}

#manual h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #7F4BC1;
    text-align: center;
}


.addBtnClick
{
    position: relative;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    background-color: #7F4BC1;

}

.addBtnClick:hover
{
    background-color: #c3a9f5;
    color: #fff;
}

#manual input[type="text"]::placeholder,
#manual input[type="email"]::placeholder 
{
    font-size: 1vw;
    color: #97959A;
    font-family: Raleway;
}

#manual input[type="text"]:focus,
#manual input[type="email"]:focus 
{
    outline: none;
    border: 0.1vw solid #7F4BC1;
}



.download-btn
{
    position: relative;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    background-color: #b191db;  
    outline: none;
    border: none;
    color: #fff;

}

#upload
{
    margin-top: 25%;
}

.fileSelectedLabel
{
    position: relative;
    width: 100%;
    color: #97959A;
    font-family: Raleway;
    font-size: 1.2vw;
    overflow: hidden;
    text-align: center;
}

