/* Container for the email editor */
.emailcontent
{
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-mail
{
    font-weight: bold;
    font-size: larger;
    background-color: #eeeef6;
}

.mail-container {
    position: relative;
    width: 100%;
    height: 95%;
    top: 0 !important;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Dropdown and inputs styling */
.email-select,
.mail-input {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.emailSelectBox
{
    position: relative;
    width: 100% !important;
    padding: 7px;
    margin-bottom: 20px;
    
}

.multiselect-dropdown
{
    width: 100% !important;
    margin-bottom: 1.2%;
    border: 0.1vw solid #BFBDC2 !important;
}

#editor-container {
    margin-bottom: 10px;
}

#editor {
    height: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

#toolbar
{
    display:  none;
}

.dropzone-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #fff;
    height: 8%;
    max-height: 8%;
}


.dropzone {
    background-color: #f9f9f9;
    position: relative;
    width: 30%;
    height: 5% !important;
    min-height: 40px;
    max-width: 30%;
    max-height: 40px;
    padding: 0px !important;
    border: 1px solid #ddd;
    
}

.utilDiv
{
    position: relative;
    width: 30%;
    height: 30px;
    border: 1px solid #ddd;
    text-align:  center;
    color: #434244;
    font-family: Raleway;
    cursor: pointer;
}

.dropzone .dz-message .dz-button
{
    display: none;
}

.dropfilestxt
{
    position: absolute;
    display: inline;
    z-index: 10;
    margin-left: -65%;
    margin-top: 1%;
    color: #434244;
    font-family: Raleway;
}

.send-btn {
    width: 15%;
    background-color: #7F4BC1;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1.5%;
    margin-left: 42%;
}

.send-btn:hover {
    background-color: #c1b9ee;
}

.file-list {
    list-style: none;
    padding: 10px 0;
    font-family: Raleway;
}

.file-list li {
    font-size: 14px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-family: Raleway;
}

.file-list li .remove-file {
    margin-left: 10px;
    color: #7F4BC1;
    border:none;
    background: none;
    cursor: pointer;
    font-size: x-small;
}

.filemsg
{
    /* color: #434244; */
    font-family: Raleway;
}


.emailPop
{
    position: absolute;
    left: 23%;
    top: 10%;
    width: 75%;
    height: 85vh;
    background-color: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Raleway;
}

.cancel-btn-emailPop
{
    position: relative;
    background: transparent;
    border: none;
    font-size: 26px;
    color: #7F4BC1;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    justify-content: unset;
    right: -97%; 
    animation: none !important;
    
}

#preview-content
{
    position: relative;
    width: 100%;
    height: 72%;
    font-family: Raleway;
}

.preview-subject{

    position: relative;
    width: 100%;
    height: 6%;
    /* border: 1px solid red; */
    font-size: larger;
    font-family: Raleway;
    font-weight: 600;
    padding-left: 2%;
}

#askdiv
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 10%;
}

#prompt
{
    padding: 10px;    
    position: relative;
    width: 60%;


}

.generateEmail
{
    position: relative;
    width: 8vw;
    padding: 1.6vh;
    border-radius: 1vw;
    background-color: #7F4BC1;
    border: none;
    color: var(--main-color);
    font-family: Raleway;
}

.typing-container
{
    position: relative;
    width: 97%;
    margin: 2%;
    padding: 3%;
    height: 72%;
    /* border: 1px solid #434244;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    background-color: #eeeef6;
    overflow: auto;
    font-family: Raleway;

}

.typing-container::after {
    content: "|";
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.moveToEditor
{
    position: absolute;
    z-index: 100;
    top: 23%;
    right: 4%;
    text-decoration: none;
    border: 1px solid #7F4BC1;
    color: #7F4BC1;
    background-color: #FFFFFF;
    padding: 2px 10px;
    font-size: small;
    border-radius: 5px;
}