
.login-container {
    background-color: #E9CEF7;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.login-img {
    position: relative;
    width: 50vw;
    height: 100vh;
    text-align: center;
}

.login-img img
{
    position: relative;
    top: 20%;
    width: 60%;
    height: 70%;
    left: 10%;
}

.login-outerbox 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.login-mainbox 
{
    background: #ffffff;
    position: relative;
    width: 65%;
    height: 90%;
    box-shadow: 0px 1.3vh 4.1vh rgba(0, 0, 0, 0.1);
    border: 0.1vw solid var(--main-color);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: relative;
    display: flex;
    top: 2vh;
}

.header-logo {
    position: relative;
    width: 1.5vw;
    height: 1.4vw;
}

.header-title {
    font-family: Nunito !important;
    color: var(--black-color);
    font-weight: bolder;
    position: relative;
    font-size: 1vw;
}

.login-title {
    position: relative;
    margin-top: 13vh;
    font-size: 2vw;
    font-weight: bolder;
    color: var(--black-color);
}

.login-form {
    position: relative;
    margin-top: 4vh;
}

input[type="text"],
input[type="password"] {
    position: relative;
    margin-left: 1.5vw;
    width: 24vw;
    padding: 1.6vh;
    margin-bottom: 2.5vh;
    border: 0.1vw solid #BFBDC2;
    border-radius: 1vw;
}

.input-box::placeholder 
{
    font-size: 1vw;
    color: #97959A;
    font-family: Raleway;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 0.1vw solid #7F4BC1;
}

.forgot-password {
    position: relative;
    width: 70%;
    text-align: right;
    margin-left: 7vw;
    margin-top: -6vh;
}

.forgot-password a {
    font-size: 0.8vw;
    color: #97959A;
    text-decoration: none;
}

.submitbtn {
    position: relative;
    margin-left: 1.5vw;
    width: 24vw;
    padding: 1.6vh;
    border-radius: 1vw;
    background-color: #7F4BC1;
    border: none;
    color: var(--main-color);
}

.submitbtn:hover
{
    background-color: #c1b9ee; 
}

.separator {
    margin: 2vh 0;
    font-weight: bold;
    color: #C6C2C2;
    text-align: center;
}


.other-login {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
    width: 80%;
    height: 12%;
    margin-left: 3vw;
}

.other-login button {
    border: 0.1vw solid #7F4BC1;
    background-color: #ffffff;
    border-radius: 1.5vw;
    font-size: 0.9vw;
    color: #97959A;
    font-family: Raleway;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    align-items: center;
    width: 80%;
    height: 90%;
    padding: 1vh 1vw;
}

.github {
    position: relative;
    top: -0.2vh;
}

.login-link {
    position: relative;
    justify-self: flex-end;
    margin-top: 7vh;
    display: flex;
}

.acc-suggest {
    font-size: 1vw;
    color: #97959A;
    font-family: Raleway;
}

.create-account {
    text-decoration: none;
    font-size: 1vw;
    margin-left: 0.5vw;
    color: #7F4BC1;
}

.passDiv {
    position: relative;
    width: 100%;
}

.eye-icon {
    position: absolute;
    top: 1.2vh;
    right: 1vw;
    font-size: 1.5vw;
    opacity: 0.4;
}

.cancel-btn {
    position: absolute;
    top: -1.2vh;
    right: -12.5vw;
    background: transparent;
    border: none;
    font-size: 2vw;
    color: #7F4BC1;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

