.header {
    background-color: #FFFFFF;
}

.header-logo {
    width: 3rem; /* 49px */
    height: 3rem; /* 49px */
    gap: 0;
    opacity: 1;
    position: relative;
    left: 4vw; /* 65px */
}

.header-title {
    width: 8.6875rem; /* 139px */
    height: 2.75rem; /* 44px */
    font-size: 1.875rem; /* 30px */
    font-weight: 800;
    line-height: 2.7275rem; /* 43.65px */
    text-align: left;
    position: relative;
    left: 4vw; /* 65px */
    font-family: Nunito;
    color: var(--black-color);
}

.main-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 85vh;
    align-items: center;
}

.main-desc {
    position: relative;
    width: 60%;
}

.priTitle {
    position: relative;
    width: 48.625rem; /* 778px */
    height: 6.0625rem; /* 97px */
    font-family: Roboto;
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
    line-height: 2.625rem; /* 42px */
    left: 4vw; /* 70px */
    color: var(--black-color);
}

.descDiv {
    position: relative;
    width: 36.25rem; /* 580px */
    height: 5.625rem; /* 90px */
    left: 4vw; /* 70px */
    font-family: Raleway;
    font-size: 1.1875rem; /* 19px */
    font-weight: 400;
    line-height: 1.5625rem; /* 25px */
    text-align: left;
    color: var(--secondary-color);
}

.main-img {
    position: relative;
    width: 100%;
    right: 3.75vw; /* 60px */
}

.btn-login {
    position: relative;
    width: 10.875rem; /* 174px */
    height: 3.375rem; /* 54px */
    padding: 0.625rem 2.4375rem; /* 10px 39px */
    border-radius: 1.875rem; /* 30px */
    border: 0.125rem; /* 2px */
    background-color: var(--gold-color);
    color: var(--black-color);
    border-image-source: linear-gradient(360deg, #E9C11C 89.81%, #FFFFFF 100%);
    text-decoration: none;
}

.btn-contact {
    position: relative;
    width: 3.125rem; /* 50px */
    height: 2.375rem; /* 38px */
}

.login-buttons {
    position: relative;
    margin-top: 5%;
    left: 4vw; /* 70px */
}

.btn-login:hover {
    color: white;
    text-decoration: none;
}

#mainFeatureContainer {
    background-color: var(--primary-color);
    padding-top: 2%;
    padding-bottom: 4%;
}

.features-headline {
    text-align: center;
    margin: 2.5rem 0 1.25rem; /* 40px 20px */
}

.features-headline h2 {
    font-size: 1.75rem; /* 28px */
    font-weight: bold;
    color: var(--black-color);
    /* border-bottom: 0.125rem solid var(--black-color);  */
    display: inline-block;
    padding-bottom: 0.625rem; /* 10px */
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2.5rem; /* 40px */
    margin-top: 1.25rem; /* 20px */
}

.feature-box {
    background-color: white;
    padding: 1.25rem; /* 20px */
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.1); /* 4px 12px */
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 1.25rem; /* 20px */
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.feature-item strong {
    font-weight: bold;
    text-align: center;
    font-family: Raleway;
}

.feature-item img {
    width: 2rem; /* 32px */
}

.feature-item p {
    margin: 0;
    text-align: center;
    font-family: Raleway;
}

.why-choose-us {
    padding: 2.5rem; /* 40px */
    text-align: center;
    margin-top: 2.5rem; /* 40px */
    
}

.why-choose-us h2 {
    font-size: 1.75rem; /* 32px */
    color: var(--black-color);
    margin-bottom: 1.875rem; /* 30px */
    font-weight: bold;
    padding-bottom: 0.625rem;
    /* border-bottom: 0.125rem solid var(--black-color); */
    display: inline-block;

}

.reasons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.875rem; /* 30px */
    max-width: 60rem; /* 1200px */
    margin: 0 auto;
}

.reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.625rem; /* 10px */
    padding: 1.3rem;
    box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.1); /* 4px 12px */
    width: 33%;
    max-width: 25rem; /* 400px */
    text-align: left;
    gap: 4%;
}

.reason img {
    width: 1.5rem; /* 24px */
}

.reason strong {
    font-size: 1.125rem;
    color: var(--black-color);
    font-weight: bold;
    text-align: center;
    font-family: Raleway;
}

.reason p {
    margin: 0.3125rem 0 0;
    color: var(--secondary-color);
    text-align: center;
    font-family: Raleway;
}

.footer {
    position: relative;
    background-color: var(--primary-color);
    height: 12vh;
}

.footer-content {
    position: relative;
    display: flex;
    top: 30%;
    font-size: 0.8125rem; /* 13px */
    justify-content: space-evenly;
}

.footer-links {
    position: relative;
    width: 30%;
    display: flex;
    gap: 0.75rem; /* 12% */
    justify-content: center;
}

.footer-links a {
    color: #7F4BC1;
    text-decoration: none;
    font-family: Raleway;
}

.contact-info {
    position: relative;
    width: 30%;
    text-align: center;
}

.contact-info a {
    color: #8839A7;
    text-decoration: none;
    font-weight: bold;
}

.copyright {
    color: var(--secondary-color);
    font-family: Raleway !important;
    margin-left: 2%;
    position: relative;
    width: 30%;
    text-align: end;
    font-weight: 500;
}
